<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DOAN_Nhom4.Properties.Settings.cnnStr" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=QLNH;Integrated Security=True" />
    </connectionStrings>
</configuration>